body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --hue-color: 218;
  --color-primary: hsl(var(--hue-color), 49%, 43%);
  --color-primary-light: hsl(var(--hue-color), 49%, 50%);
  /* hexcode */
  /* -- red  start 2 digit */
  /* -- green middle 2 digit*/
  /* -- blue  last 2 digit*/

  /* ........................................  */
  /* RGB */
  /* rgb(0-255) */
  /* rgb(255,255,255) // pure white  */
  /* rgb(0,0,0) // pure black  */
  /* rgb(100,100,100) // grayish shade  */

  /* ..........................................  */
  /* HSL  */
  /* Hue Saturation Light */
  /* hsl(60, 50%, 48%); */
  /* hue --> first value, it represent color */
  /* 0-360 */
  /* 0 --> red */
  /* 60 --> yellow */
  /* 120 --> green */
  /* 180 --> cyan */
  /* 240 --> blue */
  /* 300 --> magenta */
  /* Saturation means the purity amount of hue (color */

  /* light  */
  /* it start from 0% to 100%, 0% means black and 100% means white */
}

h2 {
  color: var(--color-primary);
}
.toggle-theme {
  border: none;
  outline: none;
  font-size: inherit;
  padding: 1rem 1.5rem;
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-theme:hover {
  background: hsl(218, 49%, 50%);
}
